.container{
    background-image:url("./assets/img/Footer.jpg");
    font-size: 20px;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
.no_markers{
    list-style-type:none;
}
.flex_container{
    display: flex;
    justify-content: space-around;
}
.call_back{
    font-size: 25px;
    background-image: url("./assets/img/Footer_call_back.jpg");
    padding: 0px 20px 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}
footer>a{
    color: rgb(255, 255, 255);
}