.container{
    background-image:url("./assets/img/Footer.jpg");
    font-size: 20px;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
.no_markers{
    list-style-type:none;
}
.centerblock{
    background-image: url("./assets/img/main_fon.jpg");
}
.flex_container_mein{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex_up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_1{
    background-image:url("./assets/img/Main_1.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    font-size: 20px;
    height: 200px;
    min-width: 300px;
    max-width: 300px;
}
.main_2{
    background-image: url("./assets/img/main_2.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    margin: 10px;
    font-size: 30px;
    height: 200px;
    min-width: 300px;
    max-width: 300px;
}
.main_3{
    background-image: url("./assets/img/main_3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    font-size: 30px;
    height: 200px;
    min-width: 300px;
    max-width: 300px;
}
.flex_bottom{
    display: flex;
}
.main_4{
    background-image: url("./assets/img/main_4.jpeg");
    background-size: 110%;
    background-repeat: no-repeat;
    margin: 10px;
    font-size: 30px;
    height: 200px;
    min-width: 300px;
    max-width: 300px;
}
.main_5{
    background-image: url("./assets/img/main_5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    font-size: 30px;
    height: 200px;
    min-width: 300px;
    max-width: 300px;
}
.main_6{
    background-image: url("./assets/img/main_6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    font-size: 30px;
    height: 200px;
    min-width: 300px;
    max-width: 300px;
 }
.flex_container_footer{
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.call_back{
    font-size: 25px;
    background-image: url("./assets/img/Footer_call_back.jpg");
    padding: 0px 20px 5px 20px;
}
.footer_a_color{
    color: blanchedalmond;
}
.footer_a_color:hover{
    color: red;
}

